*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Acme', sans-serif;
 /* font-family: 'Merriweather', serif; */
 /* font-family: 'Pacifico', cursive; */
 /* font-family: 'Sofia Sans', sans-serif; */
 user-select: none;
}

html {
 font-size: 62.5%;
 scroll-behavior: smooth;
}

:root {
 /* --main-colour: #4bbf87; */
 --white: white;
 --black: black;
 --whitesmoke: whitesmoke;
}

.center{
 display: flex;
 align-items: center;
 justify-content: center;
}
.dark_mode_color {
 --white: black;
 --black: white;
 --whitesmoke: #2d2e2d;
}

@media (prefers-color-scheme : light) {
 :root {
  --main-colour: #4bbf87;
  /* --main-colour: hotpink; */
  --black: black;
  --white: white;
  --whitesmoke: whitesmoke;
 }
}

@media (prefers-color-scheme : dark) {
 :root {
  --main-colour: #4bbf87;
  /* --main-colour: hotpink; */
  --white: black;
  --black: white;
  --whitesmoke: #2d2e2d;
 }
}

.maincolor {
 color: var(--main-colour);
}

.progress {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 9999;
 width: 100%;
 height: .25rem;
 background-color: blanchedalmond;
}

.progress_bar {
 display: block;
 width: 0%;
 height: inherit;
 background-image: linear-gradient(90deg, #31acff, #2ad39f, #0170f0);
}

#click {
 border: 2px solid var(--main-colour);
 display: flex;
 align-items: center;
 justify-content: center;
 height: 3rem;
 width: 3rem;
 border-radius: 50%;
 cursor: pointer;
 position: absolute;
 font-weight: 900;
 left: 85%;
}

nav {
 background-color: var(--main-colour);
 height: 4rem;
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

nav img {
 height: 5rem;
 width: 8rem;
 border-radius: .5rem;
 margin-left: 2rem;
}

nav ul {
 list-style: none;
 display: flex;
}
.name{
 font-size: 2.5rem;
 font-weight: 500;
}

nav ul li {
 padding-right: 2rem;
}

nav ul li a {
 text-decoration: none;
 color: var(--black);
 font-size: 1.5rem;
}

nav ul li a:hover {
 color: var(--white);
}

#img_mode {
 height: 2.5rem;
 width: 2.5rem;
 border-radius: 50%;
}

main {
 overflow-y: scroll;
 scroll-snap-type: y mandatory;
}

.img_box {
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.img_box .down_mypic {
 position: relative;
 font-size: 2rem;
 top: 14rem;
 flex-direction: column;
}

.box1 {
 max-width: 50rem;
 position: absolute;
 top: 40%;
}

.img_box .box1 img {
 width: 100%;
 display: block;
 border-radius: 50%;
 height: 15rem;
}

.img_box .box1::before {
 content: "";
 position: absolute;
 inset: -2rem;
 /* border: 2rem solid #03e9f4; */
 border: 2rem solid var(--main-colour);
 border-top-color: var(--white);
 border-bottom-color: var(--white);
 box-shadow: 0 0 .5rem var(--main-colour),
  0 0 2.5rem var(--main-colour),
  0 0 5rem var(--main-colour),
  0 0 10rem var(--main-colour);
 border-radius: 50%;
 animation: spin 3s linear infinite;
}

@keyframes spin {
 to {
  transform: rotate(360deg);
 }
}
#write{
 width: 250px;
 margin-bottom: .5rem;
}
#box{
 color: var(--black);
}
.down_mypic #contactbtn a {
 color: var(--white);
 font-size: 1.6rem;
 text-decoration: none;
}

.down_mypic #contactbtn {
 height: 3.5rem;
 width: 9.4rem;
 background-color: var(--black);
 padding: .5rem;
 border-radius: .4rem;
 transition: .2s ease;
}

.down_mypic #contactbtn:hover {
 background-color: var(--main-colour);
}

section {
 height: 100vh;
 width: 100vw;
 background-color: var(--whitesmoke);
 border-bottom: .5rem solid white;
 scroll-snap-align: start;
}

/* about section code */
.heading {
 text-align: center;
 padding: 2rem;
 font-size: 2rem;
 color: var(--black);
}
#about .about_section {
 justify-content: space-between;
 margin: 0rem 5rem;
}
#about .about_section .about_left {
 border: .2rem solid var(--black);
 width: 20rem;
 transition: .3s ease;
 object-fit: contain;
 height: 28rem;
}
#about .about_section .about_left:hover{
 border-color: var(--main-colour);
}

#about .about_section .about_left img {
 height: 100%;
 width: 100%;
}

#about .about_section .about_right {
 padding: 2rem;
 /* max-width: 24rem; */
}

#about .about_section .about_right .about_name {
 font-size: 1.5rem;
 padding-bottom: 2rem;
}
#about .about_section .about_right p{
 color: var(--black);
 
}

#about .about_section .about_right .about_right_down {
 display: flex;
 margin-top: 1rem;
}

#about .about_section .about_right .about_right_down .about_right_left {
 width: 50%;
}

#about .about_section .about_right .about_right_down .about_right_left .flex,
.about_right_right .flex {
 display: flex;
 margin: .5rem;
}

#about #mycv {
 background-color: var(--black);
 padding: .4rem;
 color: var(--white);
 transition: .15s ease;
}

#about #mycv:hover {
 background-color: var(--main-colour);
}

/* resume button code */

.text-1,
.text-2 {
 margin-top: 10px;
 position: absolute;
 width: 100px;
 height: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
 /* transform-origin: 50% 50% -25px; */
 transition: all 0.3s;
}

.text-1 {
 transform: rotateX(0deg);
 background-color: #292929;
 color: #fff;
}

.text-2 {
 transform: rotateX(90deg);
 /* background-color: #eee; */
 background-color: var(--main-colour);
 color: #131313;
}

.btn:hover .text-2 {
 transform: rotateX(0deg);
}

/* Service section code */
.service_div {
 height: 45rem;
 width: 90vw;
 margin: 1rem 5%;
 display: flex;
}

.service_div .Small_div{
 border: 2px solid var(--white);
 width: 30%;
 height: 15rem;
 margin: 1rem;
}

.project_img{
 height: 80%;
 width: 100%;
}
.project_img img{
 height: 100%;
 width: 80%;
 overflow: hidden;
}
.project_discription p{
 text-align: center;
 font-size: 1.4rem;
}
.a_color{
 color: var(--black);
}
.service_div .Small_div a{
 font-size: 2rem;
}
/* skill section */
.skill {
 background-color: var(--whitesmoke);
 height: 100vh;
 width: 100vw;
}

.skill .skill-content .column-left,
.column-right {
 /* width: 35rem; */
 width: 40%;
 margin: 2rem 5%;
 height: 22rem;
 padding: 2rem;
 background-color: var(--white);
 box-shadow: 0 0 2rem .2rem rgba(0, 0, 0, 0.3);
 transition: all 0.3s ease;
}

.skill .skill-content .column-left,
.column-right {
 transform: scale(1.1);
}
.skill .skill-content .column-left:hover,
.column-right:hover,
.start-c .course-c .cpp-c:hover,
.java-c:hover,
.css-c:hover,
.html-c:hover {
 box-shadow: 0 0 2rem 1rem var(--main-colour);
 transform: scale(1.18);
 /*  box-shadow: 0 0 2rem 1rem rgba(25, 227, 150, 0.3); */
}

.skill .skill-content .column-left .text {
 font-size: 1.5rem;
 color: var(--main-colour);
}

.skill .skill-content .column-left p {
 color: var(--black);
}

.skill .skill-content .column-right .bars {
 margin: 1.2rem;
}

.skill .skill-content .column-right .info {
 display: flex;
 align-items: center;
 justify-content: space-between;
 color: var(--black);
}

.skill .skill-content .column-right .line {
 height: .3rem;
 width: 100%;
 background: lightgray;
 position: relative;
}

.skill .skill-content .column-right .line::before {
 content: "";
 position: absolute;
 height: 100%;
 left: 0;
 top: 0;
 background: var(--main-colour);
}

.skill .skill-content .column-right .html::before {
 width: 90%;
}

.skill .skill-content .column-right .css::before {
 width: 50%;
}

.skill .skill-content .column-right .java::before {
 width: 40%;
}

.skill .skill-content .column-right .php::before {
 width: 50%;
}

.skill .skill-content .column-right .sql::before {
 width: 20%;
}

.skill .skill-content .column-right .cpp::before {
 width: 85%;
}

/* Blogs section code */
.blogs_div {
 height: 65vh;
 width: 90vw;
 display: flex;
 margin: 0rem 5%;
}

.blogs_div .blog_div {
 height: 100%;
 width: 30vw;
 border: 2px solid var(--white);
 margin: 1rem;
}

/* contact page code */
.contact {
 position: relative;
 height: 110vh;
 padding: 5rem 10rem;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: var(--whitesmoke);
}

.contact .ccontent {
 /* max-width: 80rem; */
 text-align: center;
}

.contact .ccontent h2 {
 font-size: 3rem;
 font-weight: 500;
 color: var(--main-colour);
}

.ccontent p {
 font-size: 1.5rem;
 color: var(--black);
}

.container-2 {
 margin-top: 3rem;
 justify-content: space-around;
 width: 100vw;
}

.container-2 .contactinfo {
 width: 50%;
 display: flex;
 flex-direction: column;
}

.container-2 .contactinfo .box {
 position: relative;
 padding-bottom: 1rem;
}

.container-2 .contactinfo .box .text {
 display: flex;
 /* margin-left: 2rem; */
 font-size: 1.5rem;
 color: var(--black);
 flex-direction: column;
 font-weight: 300;
}
.container-2 .contactinfo .box .text .links a{
 font-size: 20px;
 color: var(--black);
}

.container-2 .contactinfo .box .text h3 {
 font-weight: 500;
 color: var(--main-colour);
}

.contactform {
 width: 40%;
 padding: 2rem;
 background: var(--white);
 transition: all .3s ease;
}

.contactform h2 {
 font-size: 1.5rem;
 color: var(--black);
 font-weight: 500;
 margin-bottom: 1rem;
}

.contactform .inputbox {
 position: relative;
 width: 100%;
 /* margin-top: .1rem; */
}

.contactform .inputbox input,
.contactform .inputbox textarea {
 width: 100%;
 padding: .2rem 0;
 font-size: 1.5rem;
 margin: 1rem 0;
 border: none;
 border-bottom: .1rem solid #727372;
 outline: none;
 resize: none;
 background-color: var(--white);
}

.contactform .inputbox span {
 position: absolute;
 left: 0;
 padding: .5rem 0;
 font-size: 1.6rem;
 margin: 1rem 0;
 pointer-events: none;
 transition: 0.5s;
 color: #727372;
}

.contactform .inputbox input:focus~span,
.contactform .inputbox input:valid~span,
.contactform .inputbox textarea:focus~span,
.contactform .inputbox textarea:valid~span {
 color: var(--main-colour);
 font-size: 1.2rem;
 transform: translateY(-2rem);
}

.contactform .inputbox input[type="submit"] {
 width: 10rem;
 background: var(--main-colour);
 color: var(--black);
 border: none;
 cursor: pointer;
 padding: 1rem;
 font-size: 1.5rem;
}

.contactform:hover {
 border: .2rem solid var(--main-colour);
}

.contactform:hover h2 {
 color: var(--main-colour);
}

.contactform:hover .inputbox span {
 color: var(--black);
}

.contactform:hover .inputbox input,
textarea {
 border-bottom-color: var(--black);
}
footer big{
 color: var(--main-colour);
}
footer p{
 color: var(--black);
}
footer {
 text-align: center;
 height: 4.5rem;
 width: 100vw;
/* padding-top: 1.5rem;*/
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: var(--white);
}

@media(max-width: 998px) {
 html {
  font-size: 55%;
 }
}

@media(max-width: 760px) {
 html {
  font-size: 70%;
 }
 nav ul li {
  display: none;
 }
 .heading{
  padding: 1rem;
 }
 #about .about_section,.skill .skill-content {
  flex-direction: column;
 }
 .service_div,
 .service_div2,.container-2,
 .blogs_div{
  display: grid;
 }
 #about .about_section .about_left {
  width: 18rem;
  height: 26rem;
 }
 #about .about_section .about_right{
  width: 27rem;
  height: 30rem;
  padding: 1rem;
 }
 .service_div .Small_div{
  width: 28rem;
 }
 .skill .skill-content .column-left,
.column-right {
 height: 25rem;
 width: 25rem;
}
.blogs_div .blog_div {
 width: 25rem;
 height: 15rem;
}
#blogs .heading a{
 display: none;
}
.contact .ccontent {
 width: 30rem;
}
.container-2 .contactinfo,.container-2 .contactform{
width: 25rem;
margin: 1rem;
}
}