.project-card {
  border: 4px solid var(--black);
  height: 16rem;
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
  transition: .3s ease;
}
.project-card::before {
  content: "";
  height: inherit;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: #191e24;
  opacity: 0.75;
}
.project-card:hover{
    border-color: var(--primary-colour);
    scale: 1.05;
}

.project-card figure {
  border-radius: inherit;
}
.project-card figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.project-card:hover figure img{
  filter: blur(4px);
}

.project-card-body {
  position: relative;
  padding: 2rem;
  height: 100%;
  z-index: 20;
}

.project-card-title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.project-card-body p{
    /* color: var(--txt-white); */
    color: #c6c6c6;
    height: 55%;
    max-height: 57%;
    overflow: scroll;
    transition: all .3s;
}
.project-card:hover > .project-card-body p{
  color: #fff;
}
.project-card-actions{
    display: flex;
    justify-content: end;
}
.project-card-actions .project-btn{
    border: 2px solid var(--black);
    border-radius: .3rem;
    padding: .4rem .7rem;
    background-color: var(--bg-color);
    cursor: pointer;
    margin-left: .5rem;
}
.project-btn a{
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.project-btn a svg{
    margin: 0 .2rem;
}

/* @media(max-width: 570px) {
  .project-card{
    width: 24rem;
  }
} */