main{
    padding: 1rem 0 1rem 2rem;
    width: 60rem;
    max-width: 62rem;
    position: relative;
    top: 1.5rem;
}
main h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

@media(max-width: 570px) {
   main{
    width: 100%;
    top: 18.5rem;
   }
}