main{
    padding: 1rem 0 1rem 2rem;
    width: 70%;
    max-width: 62rem;
    position: absolute;
    top: 1.5rem;
    right: 0;
}
main h3{
    font-size: clamp(1.5rem, calc(.5vw + 1.5rem), 3rem);;
    margin-bottom: 1rem;
}
@media(max-width: 998px) {
   main{
    width: 58%;
    top: 3.5rem;
    padding: 0;
   }
}

@media(max-width: 570px) {
   main{
    width: 100%;
    position: relative;
    top: 3.5rem;
    padding: 0rem;
   }
}