#root {
  padding: min(2rem, 5%);
  min-width: 100vw;
  min-width: 100dvw;
  min-height: 100vh;
  min-height: 100dvh;
  /* overflow: hidden; */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilecard {
  position: fixed;
  width: 27%;
  min-width: 21rem;
}
.profilecard > .profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.MyPic {
  height: clamp(3rem, calc(1vw + 6.5rem), 8rem);
  width: clamp(3rem, calc(1vw + 6.5rem), 8rem);
  border-radius: 50%;
  padding: 0.4rem;
  margin-right: 1rem;
  position: relative;
  /* top: -45px; */
  will-change: filter;
  transition: filter 300ms;
}
.MyPic:hover {
  filter: drop-shadow(0 0 1rem var(--primary-colour));
}

.profilecard div h2 {
  font-size: clamp(1.5rem, calc(0.5vw + 1.5rem), 3rem);
  font-family: "Pacifico", cursive;
  color: var(--primary-colour);
}
.profilecard div h4 {
  font-size: clamp(1rem, calc(0.4vw + 1rem), 1.8rem);
  color: var(--white);
}
.profilecard div .icons {
  margin-top: calc(1vh);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profilecard div .icons a {
  color: var(--white);
  font-size: clamp(1.5rem, calc(0.8vw + 1rem), 2rem);
  transition: ease 0.3s;
}
.profilecard div .icons .insta {
  margin-left: 0;
}
.profilecard div .icons .insta:hover {
  color: #fd03ba;
}
.profilecard div .icons .linkdin:hover {
  color: #0a66c2;
}
.profilecard div .icons .github:hover {
  color: black;
}
.profilecard div .icons .leetcode:hover {
  color: rgb(254, 166, 1);
}
.profilecard div .icons .mail:hover {
  color: #dc4b3f;
}

/* Resume Button code */
.profilecard .otherDetails .resumeBtn {
  width: 10rem;
  /* height: 4rem;
  width: 100%;
  padding: 0 1rem; */
}

.profilecard .otherDetails .text-1,
.profilecard .otherDetails .text-2 {
  position: absolute;
  width: 10rem;
  height: 3rem;
  text-align: center;
  /* transform-origin: 50% 50% -25px; other style */
  transition: all 0.3s;
  border-radius: 0.2rem;
}

.profilecard .otherDetails .text-1 {
  transform: rotateX(0deg);
  background-color: #1a1a1a;
  color: #fff;
}

.profilecard .otherDetails .text-2 {
  transform: rotateX(90deg);
  background-color: var(--primary-colour);
  color: #131313;
}
.profilecard .otherDetails .text-2 svg {
  font-size: 1.5rem;
}
.profilecard .otherDetails .btn:hover .text-2 {
  transform: rotateX(0deg);
  cursor: pointer;
}

.profilecard .otherDetails {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}
.profilecard .otherDetails .other {
  /* width: 16rem; */
  max-width: 16.5rem;
}

.otherDetails .other div > span {
  color: var(--primary-colour);
  font-size: 1.2rem;
}
.otherDetails .other div > p {
  color: var(--white);
  margin-left: 0.5rem;
}

.sectionContainer {
  /* width: 64rem; */
  position: relative;
  /* left: 22rem; */
  /* margin: 2rem; */
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
@media (max-width: 998px) {
  #root {
    padding: min(1rem, 5%);
  }

  .profilecard {
    position: absolute;
    width: 20rem;
    min-width: 20rem;
    top: 3rem;
  }
  /* .profilecard div .icons a{
    margin: 0 .5rem;
  }
  .sectionContainer{
    width: 28rem;    
    left: -3rem;
  } */
}
@media (max-width: 570px) {
  .profilecard {
    width: 100%;
    position: relative;
    top: 3rem;
  }
  .profilecard .otherDetails .other {
    width: 10rem;
    padding-left: 1rem;
  }
  /* .profilecard .profile .MyPic{
    height: 5rem;
    width: 5rem;
  } */
}
