@import "tailwindcss";

:root {
  --primary-colour: #4bbf87;
  --black: #000;
  --white: #fff;
  --whitesmoke: rgb(245, 245, 245);
  --bg-color: #2d2e2d;
  --txt-white: #ccc;
  --btn-color: #3d3d3d;
  color-scheme: light dark;
  color: var(--whitesmoke);
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[theme="light"] {
  --black: #fff;
  --white: #000;
  --whitesmoke: #2d2d2d;
  --bg-color: #ebf7e3;
  --txt-white: #2f2f2f;
  --btn-color: #d1d1d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}

body{
  background-color: var(--bg-color);
}
/* .HomeSec{
  height: 70vh;
} */
.HomeSec p {
  line-height: 1.8rem;
  word-spacing: 0.1rem;
  font-size: 1.2rem;
  color: var(--txt-white);
}
.HomeSec p span {
  color: var(--primary-colour);
}

.project-card-container {
  width: 100%;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

footer {
  position: absolute;
  right: 4rem;
  display: none;
}
@media (max-width: 998px) {
  nav {
    right: 2rem;
  }
  .HomeSec p {
    font-size: 1.1rem;
  }
}

@media (max-width: 570px) {
  html {
    font-size: 85%;
  }
  .HomeSec p {
    font-size: 1rem;
  }
  .skills-category h4 {
    font-size: 1.1rem;
  }
  .skill-item {
    font-size: 0.9rem;
  }
  .project-card-title {
    font-size: 1.3rem;
  }
  footer {
    display: block;
    right: 1rem;
    bottom: -6rem;
  }
}

/* @media (prefers-color-scheme: light) {
:root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
