:root {
  --primary-colour: #4bbf87;
  --black: black;
  --white: white;
  --whitesmoke: whitesmoke;
  --bg-color: #2d2e2d;
  --txt-white: #ccc;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Acme', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.project-card-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.HomeSec{
  height: 70vh;
}
.HomeSec p{
  line-height: 1.8rem;
  word-spacing: .1rem;
  font-size: 1.2rem;
  color: var(--txt-white)
}
.HomeSec p span{
  color: var(--primary-colour);
}

footer{
  position: absolute;
  right: 4rem;
  bottom: 2rem;
}

/* @media(max-width: 998px) {
  html {
      font-size: 85%;
  }
}

@media(max-width: 570px) {
  .project-card-container{
    width: 95%;
  }
} */